.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.editor {
  height: 100%;
  font-size: 20px;
  padding: 60px;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 10%;
  margin-right: 10%;
  overflow: auto;
  background-color: white;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  /* remove the blue outline */
  outline: none;
  
}

.editor-context {
  /* margin-right: 25%; */
  position: absolute;
  /* background-color: rgb(254, 251, 222); */
  top: 0; left: 0; height: 300%; 
  width: 100%;
  /* height: 100%; */
}

.context-context {
  width: 100%;
}

.side-bar {
  width: 25%;
  height: 100%;
  right: 0;
  position: absolute;
  /* background-color: rgb(254, 254, 254); */
  background-color: aliceblue;
}

.side-bar-item {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: rgb(254, 254, 254);
  cursor: pointer;
}