.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.editor {
  height: 100%;
  font-size: 20px;
  padding: 60px;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 10%;
  margin-right: 10%;
  overflow: auto;
  background-color: white;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  /* remove the blue outline */
  outline: none;
  
  z-index: 1;
}

/* make the z index of the text on the editor slightly higher so we can put something in between, so
we will need to select the text children of the editor */
.editor > * {
  z-index: 3;
}


.lense-bar {
  z-index: 2;
  width: 100%;
  /* the select will be in the middle */
  display: flex;
  justify-content: center;
}

.sidebar {
  z-index: 2;
  width: 100%;
  /* the select will be in the middle */
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

select {
  font-size: 20px;
  background-color: rgb(172, 172, 172);
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  outline: none;
  margin-top: 10px;
  margin-bottom: 10px;
}


.context-context {
  width: 100%;
}

.editor-context {
  top: 0; left: 0; height: 300%; 
  width: 100%;
}
