:root {
  /* transparant selection color */
  --selection-color: rgba(255, 255, 255, 0.00);
  --accent-color: rgb(229, 229, 229);
  --primary-text-color: rgb(172, 172, 172);
  --darker-text-color: rgb(80, 80, 80);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.context-container {
  width: 100%;
  height: 100vh;
}

.editor-container {
  top: 0; left: 0; 
  width: 100%;
  height: 100%;
  display: flex; /* Make children flex, which will make them stack */
  max-width: 100%;
} 

.left, .right {
  flex: 0 0 50%; /* Make them take up 50% of the space */
  max-width: 50%; /* Ensure it doesn't grow beyond 50% */
}

.right {
  /* background-color:rgb(172, 172, 172) */
  max-width: 50%; /* Ensure it doesn't grow beyond 50% */
}

.selection-display {
  text-align: center;
  margin-bottom: 10px;
  background-color: var(--accent-color);
  color: var(--darker-text-color);
  /* add a radius to the edges */
  padding: 5x;
  border-radius: 10px;
}

.editor {
  height: 100%;
  font-size: 14px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.30), 0 10px 20px rgba(0,0,0,0.22);
  
  outline: none; /* remove the blue outline */
  border-radius: 2px; /* curve the corners*/

  margin: 10px;
  padding: 30px;
  
  /* z-index: 1; */
  flex: 1; /* Take up all the space */

  overflow-x: hidden;

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;	 
}

/* make the z index of the text on the editor slightly higher so we can put something in between, so
we will need to select the text children of the editor */
/* .editor > * {
  z-index: 3;
} */

.lense-bar {
  z-index: 2;
  width: 100%;
  /* the select will be in the middle */
  display: flex;
  justify-content: center;
}

.inspector {
  justify-content: center;
  background-color: white;
  box-shadow: 0 3px 5px rgba(0,0,0,0.30), 0 3px 5px rgba(0,0,0,0.22);
  padding: 10px;
  margin: 10px;
}

.prism {
  /* put a box around it */
  margin-bottom: 10px;
  display: flex;

  .title.rotated {
    writing-mode: vertical-lr; /* Rotates the text 90 degrees */
    transform: rotate(180deg); /* Flips the text to the right orientation */
    /* margin-right: 20px; Spacing between the title and the prism div */
  }

  .prism-content.border {
    border: 1px solid #f1f1f1;
    flex: 1;
    /* flex-grow: 1; */
    min-width: 0;
    overflow: hidden;
    width: 100%;
    display: block;
  }

  .text-feature {
    width: 100%;
  }
}

.search-results {
  width: 100%;
}


.title {
  color:rgb(172, 172, 172);
  font-size: 14px;
  padding-right: 2px;
  cursor: pointer;
}

.subtitle {
  color:rgb(172, 172, 172);
  font-size: 10px;
  padding-right: 2px;
}

.text {
  color:rgb(172, 172, 172);
  font-size: 10px;
}

.token-range {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  min-height: 3ch;
  margin-bottom: 4px;
}

.wrap {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  /* hide the scrollbars if they are not needed */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.token-range-parent {
  position: relative;
}



/* add a gradient to the right of the token range */
/* not currently used */
.overflowing::after {
  z-index: 2;
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 70px; /* Adjust the width to your preference */
  height: 100%;
  background: linear-gradient(to left, rgba(209, 209, 209, 0.7), rgba(255, 255, 255, 0));
  pointer-events: none; /* Allow interactions with underlying content */
}

.card { /* anything that needs to go side to side */
  display: inline-block;
}

.token { /* specific formatting for a token object */ 
  display: inline-block;
  background-color: #f1f1f1;
  /* height: 100%; doesn't work for inline-block maybe? instead: */
  min-height: 100%;
  text-wrap: wrap;
  cursor: pointer;
}

.token.space {
  width: 0.4ch;  /* 1ch is supposed to be equal to the approximate width of one character but it seems large*/
}

.item {
  color: #777777;
  font-size: 10px;
}

/* on hover make the token a bit darker */
.token:hover {
  background-color: #e1e1e1;
}

.token .heading {
  font-size: 14px;
  min-height: 100%;
  text-align: center;
}

.token-span {
  display: inline-block;
  /* padding: 4px; */
  margin-left: 2px;
  margin-right: 2px;
  background-color: #f1f1f1;
  min-height: 100%;
  height: 100%;
  text-wrap: wrap;
  /* make the cursor a pointer */
  cursor: pointer;
}

.hidden {
  display: none;
}

label {
  color:rgb(172, 172, 172);
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 2px;
}


.info {
  color:rgb(172, 172, 172);
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

select {
  font-size: 14px;
  background-color: var(--accent-color);
  border: none;
  outline: none;
  margin-left: 3px;
  margin-right: 3px;
}

button {
  font-size: 14px;
  background-color: var(--accent-color);
  color: var(--darker-text-color);
  border: none;
  outline: none;
}

button:hover {
  background-color: rgb(100, 100, 100);
}

.selectButoon {
  margin-left: 4px;
  margin-right: 4px;
}

.constraint-container {
  font-size: 12px;
}

.constraint-creator {
  display: inline-block;
}

.temp-constraint-container {
  display: flex;
}

.constraint {
  /* background-color: #f1f1f1; */

  input {
    background-color: #f1f1f1;
    border: none;
    outline: none;
  }
}

textarea {
  font-size: 12px;
  background-color: var(--accent-color);
  border: none;
  outline: none;
  width: 100%;
  height: 1.5em;
}

/* input of type checkbox */
.input[type="checkbox"] {
  height: 2em;
  width: 2em;
}

/*** Works on common browsers ***/
::selection {
  background-color:  var(--selection-color);
  /* add a border */

  color: rgb(0, 60, 200); /* Change to your preferred text color */
  /* text-shadow:
    -1px -1px 0 #282c34,
      1px -1px 0 #282c34,
    -1px  1px 0 #000,
      1px  1px 0 #000; Add a text shadow */
}

/* make the brackground gradient bounce left and right */
/* Specific styles for the div when the searching class is added */
div.searching {
  background: linear-gradient(to right, #ffffff 0%, #b3b3b3 100%);
  background-size: 200% 100%;
  animation: slide 2s linear infinite;
  width: 100%;
  min-height: 1.5em;
}

/* Animation keyframes */
@keyframes slide {
  0%, 100% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
}

/*** Mozilla based browsers ***/
::-moz-selection {
  background-color:  var(--selection-color);
}

/*** Webkit based browsers ***/
::-webkit-selection {
  background-color:  var(--selection-color);
}

/***For Other Browsers ***/
::-o-selection {
  background-color:  var(--selection-color);
}

::-ms-selection {
  background-color:  var(--selection-color);
}

/*** For Webkit ***/
::-webkit-selection {
  background-color:  var(--selection-color);
}